<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">FitForumへようこそ！</h1>
      <p class="text-center lead">
        FitForumは、初心者や自宅で筋トレをしている人が、<br>
        モチベーションを高め合いながら継続をサポートするSNSです。
      </p>

      <div class="text-center mt-5">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg mr-3" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary btn-lg" %>
      </div>
    </div>
  </div>
</div>